#main-nav .container {
  display: flex;
  flex-direction: column;
}
#main-nav .social,
#main-nav ul {
  margin-bottom: 1.5rem;
}

#main-nav .logo {
  justify-content: center;
  margin-right: 40px;
}

#showcase {
  height: 400px;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mySlides {
  height: 500px;
}

.slider {
  width: 100%;
  height: 400px;
}

#home-articles .article-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

#home-articles .article-container > *:first-child {
  grid-template-columns: 1fr;
  grid-column: 1;
}

/* .packages .sort-bar {
  padding: 0;
}

.gallary {
  justify-content: center;
}

.pic {
  width: 500px;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 7px;
} */

@media (max-width: 600px) {
  #showcase .showcase-content h1 {
    font-size: 3rem;
    letter-spacing: 0.9rem;
  }

  #showcase .showcase-content h2 {
    font-size: 3rem;
  }

  #showcase .showcase-content p {
    font-size: 1rem;
  }

  #home-articles .article-container,
  #article .page-container,
  #main-footer .footer-container {
    grid-template-columns: 1fr;
  }

  #home-articles .article-container > *:first-child,
  #home-articles .article-container > *:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container > *:last-child {
    grid-column: 1;
  }

  #main-footer .footer-container > *:first-child,
  #main-footer .footer-container > *:nth-child(2) {
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
  }

  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .page-container > *:first-child {
    grid-row: 1;
  }

  .l-heading {
    font-size: 2rem;
  }
}
